
.post-header {
    text-align: center;
}

.post-card {
    box-shadow: 0px 3px 6px -3px;
    padding: 20px;
    margin: 15px;
}

.card-title {    
    font-size: larger;
    font-weight: bold;
}

.card-content {
    color: rgb(64 59 59);
    font-size: medium;
}


.card-tags {
    color: rgb(163 154 154);
}

.icon-button {
    border: none;
    background: none;
}

.card-actions {
    display: flex;
    /* flex-direction: row-reverse;
    align-items: center; */
    justify-content: space-between; 
}

.post-footer {
    display: flex;
    flex-direction: row-reverse;
}

.post-userinfo {
    display: flex;
    justify-content: flex-end;
}

.post-name {
    margin: 0px;    
    color: rgb(65, 64, 64);
}

.post-email {
    margin: 0px;    
    color: rgb(65, 64, 64);
    font-weight: bold;
}

.model-avatar {
    height: 100px;
    width: 100px;
}

.model-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dark-text {
    color: rgb(65, 64, 64);
}

.dark-text1 {
    color: rgb(65, 64, 64);
    font-weight: bold;
}

.post-link {
    padding: 20px;
    margin: 15px;
    text-decoration: none;
}

