.main-body {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}
.header-body {
    background: #193aa5;
    height: 5%
}

.content-body {
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-body {
    background: #193aa5;
    height: 6vh;
    color: white;
    display: flex;
    justify-content: flex-end;

}

.link-s {
    text-decoration: none;
    font-size: larger;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

.menu-text {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.home-context {
    text-align: center;
    font-size: xx-large;
}


@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

.spinner-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 350px;
}